# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015-2022 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

include .dockerignore
include .editorconfig
include .prettierrc
include .tx/config
include *.rst
include *.sh
include *.txt
include *.yml
include babel.ini
include docker/haproxy/Dockerfile
include docker/nginx/Dockerfile
include docker/postgres/Dockerfile
include Dockerfile
include Dockerfile.base
include LICENSE
include pytest.ini
include scripts/bootstrap
include scripts/console
include scripts/server
include scripts/setup
include scripts/update
prune docs/_build
recursive-include .github/workflows *.yml
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include invenio_pages *.gitkeep
recursive-include invenio_pages *.html *.js *.less *.json *.yaml
recursive-include invenio_pages *.overrides
recursive-include invenio_pages *.variables
recursive-include invenio_pages *.png *.svg
recursive-include invenio_pages *.txt
recursive-include invenio_pages *.po *.pot *.mo
recursive-include invenio_pages *.py
recursive-include docker *.cfg *.conf *.crt *.ini *.key *.pem *.sh
recursive-include tests *.py *.yaml *.html
include .git-blame-ignore-revs
